
		<footer>morten hulvej © <span id="year"></span>
			 |
			<!-- <a href="/contact">email me</a> -->
			<a href="mailto:info@cool-soft.dk?subject=Saw you at mortenhulvej.dk">email me</a>
			 |
			<a href="https://www.linkedin.com/pub/morten-hulvej-andersen/39/175/227">
				<img width="16" style="margin-bottom: -3px" src="/images/linkedin-icon-small.png"/></a>
			<script> document.getElementById("year").innerHTML = new Date().getUTCFullYear(); </script>
		</footer>

    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>